/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/hid_usage.h>
#include <dt-bindings/zmk/hid_usage_pages.h>
#include "keymap_symbols.h"
#include <behaviors/unicode.dtsi>
#include "keymap_cyrillic.h"

// Layer definitions
#define BASE 0
#define NUM 1
#define SYM 2
#define FNC_MEDIA 3
#define CYR_LOWER 4
/* #define CYR_UPPER 5 */
#define CYR_ADDITIONAL_LOWER 5
/* #define CYR_ADDITIONAL_UPPER 7 */
#define BT_LANG 6

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};

/ {
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};

		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <220>;
			quick-tap-ms = <220>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};

	macros {
	};

	combos {
		compatible = "zmk,combos";

		// Combo for Bluetooth/Language Layer (All 4 Thumb Keys)
		combo_bt_lang {
			timeout-ms = <50>; // Short timeout
			key-positions = <30 31 32 33>; // All 4 thumb keys
			bindings = <&mo BT_LANG>;
			layers = <BASE>; // Only active on Base layer
		};
	};

	keymap {
		compatible = "zmk,keymap";

		// Base English Alpha Layer
		default_layer {
			label = "Base";
			bindings = <
                &kp Q &kp W &kp E &kp R &kp T           &kp Y &kp U &kp I &kp O &kp P
                &hm LGUI A &hm LALT S &hm LSHFT D &hm LCTRL F &kp G           &kp H &hm RCTRL J &hm RSHFT K &hm RALT L &hm RGUI SCLN
                &kp Z &kp X &kp C &kp V &kp B           &kp N &kp M SYM_COMMA SYM_DOT SYM_FSLH
                                &lt NUM KC_ESC &lt SYM KC_SPACE &lt CYR_LOWER KC_ENT &lt FNC_MEDIA KC_BSPC // Thumb keys with layer-tap
			>;
		};

		// Numbers Layer
		num_layer {
			label = "Num";
			bindings = <
                &none &none &none &none &none           &none &none &none &none &none
                &hm LGUI N1 &hm LALT N2 &hm LSHFT N3 &hm LCTRL N4 &kp N5      &kp N6 &hm RCTRL N7 &hm RSHFT N8 &hm RALT N9 &hm RGUI N0
                &none &none &none &none &none           SYM_PLUS SYM_MINUS SYM_ASTERISK SYM_FSLH SYM_EQUAL
                                &none KC_SPACE KC_TAB KC_BSPC
			>;
		};

		// Symbols Layer
		sym_layer {
			label = "Sym";
			bindings = <
                &none &none &none &none &none           &none &none &none &none &none
                SYM_LT SYM_LBKT SYM_LBRC SYM_LPAR SYM_RPAR      SYM_RBRC SYM_RBKT SYM_GT SYM_DQT SYM_SQT
                &none &none &none SYM_UNDERSCORE SYM_MINUS               SYM_PLUS SYM_EQUAL SYM_PERC &none SYM_BSLH
                                KC_ESC &none KC_TAB KC_BSPC
			>;
		};

		// Function and Media Keys Layer
		fnc_media_layer {
			label = "Fnc/Media";
			bindings = <
                KC_BRIGHT_DN KC_VOL_DN KC_MUTE KC_VOL_UP KC_BRIGHT_UP   &none &none &none &none KC_F12
                KC_SEARCH KC_PREV KC_PLAY_PAUSE KC_NEXT &none           KC_LEFT KC_DOWN KC_UP KC_RIGHT KC_F11
                KC_F1 KC_F2 KC_F3 KC_F4 KC_F5                           KC_F6 KC_F7 KC_F8 KC_F9 KC_F10
                                KC_ESC KC_SPACE KC_ENT &none
			>;
		};

		// Cyrillic Lowercase Layer
		cyr_lower_layer {
			label = "Cyr_Lower";
			bindings = <
                UC_CYR_SHORT_I UC_CYR_TS UC_CYR_U UC_CYR_K UC_CYR_E      UC_CYR_N UC_CYR_G UC_CYR_SH UC_CYR_SHCH UC_CYR_Z
                UC_CYR_F UC_CYR_Y &hm LSHFT UC_CYR_V UC_CYR_A UC_CYR_P            UC_CYR_R UC_CYR_O &hm RSHFT UC_CYR_L  UC_CYR_D UC_CYR_ZH
                UC_CYR_YA UC_CYR_CH UC_CYR_S UC_CYR_M UC_CYR_I          UC_CYR_T UC_CYR_SOFT_SIGN UC_CYR_B UC_CYR_YU UC_CYR_E_REV
                                &none &lt CYR_ADDITIONAL_LOWER KC_SPACE &none &none
			>;
		};

		// Cyrillic Uppercase Layer
	  // cyr_upper_layer {
	  // 	label = "Cyr_Upper";
	  // 	bindings = <
    //             UC_CYR_SHORT_I_CAPS UC_CYR_TS_CAPS UC_CYR_U_CAPS UC_CYR_K_CAPS UC_CYR_E_CAPS      UC_CYR_N_CAPS UC_CYR_G_CAPS UC_CYR_SH_CAPS UC_CYR_SHCH_CAPS UC_CYR_Z_CAPS
    //             UC_CYR_F_CAPS UC_CYR_Y_CAPS UC_CYR_V_CAPS UC_CYR_A_CAPS UC_CYR_P_CAPS            UC_CYR_R_CAPS UC_CYR_O_CAPS UC_CYR_L_CAPS UC_CYR_D_CAPS UC_CYR_ZH_CAPS
    //             UC_CYR_YA_CAPS UC_CYR_CH_CAPS UC_CYR_S_CAPS UC_CYR_M_CAPS UC_CYR_I_CAPS          UC_CYR_T_CAPS UC_CYR_SOFT_SIGN_CAPS UC_CYR_B_CAPS UC_CYR_YU_CAPS UC_CYR_E_REV_CAPS
    //                             &none &lt CYR_ADDITIONAL_UPPER KC_SPACE &none &none
	  // 	>;
	  // };

		// Additional Cyrillic Lowercase Layer
		cyr_additional_lower_layer {
			label = "Cyr_Add_Lower";
			bindings = <
                &none &none &none &none &none                   UC_CYR_GHE_UPTURN &none &none &none UC_CYR_H
                &none UC_CYR_YI &none &hm LSHFT &none               &none &hm RSHFT &none &none &none
                &none &none &none &none &none                   UC_CYR_I_DOT &none &none UC_CYR_HARD_SIGN &none UC_CYR_IE
                                &none &none &none &none
			>;
		};

		// Additional Cyrillic Uppercase Layer
	 // cyr_additional_upper_layer {
	 // 	label = "Cyr_Add_Upper";
	 // 	bindings = <
   //             &none &none &none &none &none                   UC_CYR_GHE_UPTURN_CAPS &none &none &none UC_CYR_H_CAPS
   //             &none UC_CYR_YI_CAPS &none &none &none          &none &none &none &none &none
   //             &none &none &none &none &none                   UC_CYR_I_DOT_CAPS &none &none UC_CYR_HARD_SIGN_CAPS &none UC_CYR_IE_CAPS
   //                             &none &none &none &none
	 // 	>;
	 // };

    // Bluetooth and Language Layer
    bt_lang_layer {
      label = "BT/Lang";
      bindings = <
        UC_MAC &uc UC_LINUX &uc UC_WIN &none BOOTLOADER                   BT_SEL_0 BT_SEL_1 BT_SEL_2 BT_SEL_3 BT_SEL_4
        &none &none &none &none &none                   &none &none &none &none &none
        &kp LG(SPACE) &none &none &none &none           &none &none &none &none BT_CLR_KEY
        &none &none &none &none
      >;
    };

	};
};
