/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/hid_usage.h>
#include <dt-bindings/zmk/hid_usage_pages.h>
#include "keymap_symbols.h"
#include <behaviors/unicode.dtsi>
#include "keymap_cyrillic.h"

// Layer definitions
#define BASE 0
#define NUM 1
#define SYM 2
#define FNC_MEDIA 3
#define CYR_LOWER 4
/* #define CYR_UPPER 5 */
#define CYR_ADDITIONAL_LOWER 5
/* #define CYR_ADDITIONAL_UPPER 7 */
#define BT_LANG 6

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};

&uc {
  default-mode = <UC_MODE_LINUX>;
};
/ {
  chosen {
        zmk,composition-key = <&kp KC_F18>;
    };
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};

		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <220>;
			quick-tap-ms = <220>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
    hm_v: hm_v {
      compatible = "zmk,behavior-hold-tap";
      label = "HRM_V";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      require-prior-idle-ms = <125>;
      bindings = <&kp>, <&m_ru_v>;
    };

    // Behavior для Л
    hm_l: hm_l {
      compatible = "zmk,behavior-hold-tap";
      label = "HRM_L";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      require-prior-idle-ms = <125>;
      bindings = <&kp>, <&m_ru_l>;
    };
	};

	macros {
    m_ru_v: m_ru_v {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&uc UC_CYR_V>;
    };
    m_ru_l: m_ru_l {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&uc UC_CYR_L>;
    };
  };

	combos {
		compatible = "zmk,combos";

		// Combo for Bluetooth/Language Layer (All 4 Thumb Keys)
		combo_bt_lang {
			timeout-ms = <50>; // Short timeout
			key-positions = <30 31 32 33>; // All 4 thumb keys
			bindings = <&mo BT_LANG>;
			layers = <BASE>; // Only active on Base layer
		};
	};

	keymap {
		compatible = "zmk,keymap";

		// Base English Alpha Layer
		default_layer {
			label = "Base";
			bindings = <
                &kp Q &kp W &kp E &kp R &kp T           &kp Y &kp U &kp I &kp O &kp P
                &hm LGUI A &hm LALT S &hm LSHFT D &hm LCTRL F &kp G           &kp H &hm RCTRL J &hm RSHFT K &hm RALT L &hm RGUI SCLN
                &kp Z &kp X &kp C &kp V &kp B           &kp N &kp M SYM_COMMA SYM_DOT SYM_FSLH
                                &lt NUM ESC &lt SYM SPACE &lt CYR_LOWER ENTER &lt FNC_MEDIA BSPC // Thumb keys with layer-tap
			>;
		};

		// Numbers Layer
		num_layer {
			label = "Num";
			bindings = <
                &none &none &none &none &none           &none &none &none &none &none
                &hm LGUI N1 &hm LALT N2 &hm LSHFT N3 &hm LCTRL N4 &kp N5      &kp N6 &hm RCTRL N7 &hm RSHFT N8 &hm RALT N9 &hm RGUI N0
                &none &none &none &none &none           SYM_PLUS SYM_MINUS SYM_ASTERISK SYM_FSLH SYM_EQUAL
                                &none KC_SPACE KC_TAB KC_BSPC
			>;
		};

		// Symbols Layer
		sym_layer {
			label = "Sym";
			bindings = <
                SYM_EXCL SYM_AT SYM_HASH SYM_DLLR SYM_PIPE      SYM_AMPS SYM_CARET SYM_ASTERISK SYM_GRAVE SYM_DQT
                SYM_TILDE SYM_LT SYM_LBKT SYM_LBRC SYM_LPAR     SYM_RPAR SYM_RBRC SYM_RBKT SYM_GT  SYM_SQT
                &none &none &none SYM_UNDERSCORE SYM_MINUS      SYM_PLUS SYM_EQUAL SYM_PERC &none SYM_BSLH
                                KC_ESC &none KC_TAB KC_BSPC
			>;
		};

		// Function and Media Keys Layer
		fnc_media_layer {
			label = "Fnc/Media";
			bindings = <
                KC_BRIGHT_DN KC_VOL_DN KC_MUTE KC_VOL_UP KC_BRIGHT_UP   &none &none &none &none KC_F12
                KC_SEARCH KC_PREV KC_PLAY_PAUSE KC_NEXT &none           KC_LEFT KC_DOWN KC_UP KC_RIGHT KC_F11
                KC_F1 KC_F2 KC_F3 KC_F4 KC_F5                           KC_F6 KC_F7 KC_F8 KC_F9 KC_F10
                                KC_ESC KC_SPACE KC_ENT &none
			>;
		};

		// Cyrillic Lowercase Layer
		cyr_lower_layer {
			label = "Cyr_Lower";
			bindings = <
                &uc UC_CYR_SHORT_I &uc UC_CYR_TS &uc UC_CYR_U &uc UC_CYR_K &uc UC_CYR_E      &uc UC_CYR_N &uc UC_CYR_G &uc UC_CYR_SH &uc UC_CYR_SHCH &uc UC_CYR_Z
                &uc UC_CYR_F &uc UC_CYR_Y &hm_v LSHIFT 0 &uc UC_CYR_A &uc UC_CYR_P            &uc UC_CYR_R &uc UC_CYR_O &hm_v RSHIFT 0 &uc UC_CYR_D &uc UC_CYR_ZH
                &uc UC_CYR_YA &uc UC_CYR_CH &uc UC_CYR_S &uc UC_CYR_M &uc UC_CYR_I          &uc UC_CYR_T &uc UC_CYR_SOFT_SIGN &uc UC_CYR_B &uc UC_CYR_YU &uc UC_CYR_E_REV
                                &none &lt CYR_ADDITIONAL_LOWER SPACE &none &none
			>;
		};

		// Additional Cyrillic Lowercase Layer
		cyr_additional_lower_layer {
			label = "Cyr_Add_Lower";
			bindings = <
                &none &none &none &none &none                   &uc UC_CYR_GHE_UPTURN &none &none &none &uc UC_CYR_H
                &none &uc UC_CYR_YI &hm LSHFT &none &none       &none &none &hm RSHFT &none &none
                &none &none &none &none &none                   &uc UC_CYR_I_DOT &none &none &uc UC_CYR_HARD_SIGN &none &uc UC_CYR_IE
                                &none &none &none &none
			>;
		};

    // Bluetooth and Language Layer
    bt_lang_layer {
      label = "BT/Lang";
      bindings = <
        &uc UC_SET_MACOS &uc UC_SET_LINUX &uc UC_SET_WIN_COMPOSE &none BOOTLOADER                   BT_SEL_0 BT_SEL_1 BT_SEL_2 BT_SEL_3 BT_SEL_4
        &none &none &none &none &none                   &none &none &none &none &none
        KC_SEARCH &none &none &none &none           &none &none &none &none BT_CLR_KEY
        &none &none &none &none
      >;
    };

	};
};
